<ion-header>
  <ion-toolbar>
    <ion-title>loginProfesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="margindiv">
    <ion-row>
      <ion-col size="12">
  <form [formGroup]="formularioLogin">
  <ion-card mode="md">
  
    <ion-item>
      <ion-input formControlName="email" type="email" placeholder="profesor@duocuc.cl" name="inputCorreoProfesor"
            pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="password" type="password" placeholder="*********" name="inputContraseñaProfesor"
      required></ion-input>
    </ion-item>

  </ion-card>
  <div class="center">
    <ion-button (click)="Ingresarprofesor()" type="submit" shape="round">
      Entrar</ion-button>
  </div>

  </form>

</ion-col>
</ion-row>
</ion-grid>

<div class="center">
  <ion-button  class="btnenviar"  routerLink="/inicio">
    Cancelar
  </ion-button>
</div>


</ion-content>
