.margindiv{
    margin-top:50%;
}

.btnenviar{
    border-radius: 60%;
    
}
.btnregistrar{
    border-radius: 60%;
    
}
ion-content{
    --ion-background-color:#ffffff;
}
.center{
    text-align: center;
}