.margindiv{
    margin-top:50%;
}
.color_fondo {
    background-color:#ffffff!important;
}
ion-content{
    --ion-background-color:#ffffff;
}
.temper{
    color: black;
    text-align: center;

}
.titulo {
    color: #473f56;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}